
body {
    background-color: #B5D6DF;
}

#container{
	width: 1080px;
	height: 100%;
	margin: 0 auto;
	background-color: #4F4646;
	border-radius: 25px;
	box-shadow: 0 0 20px black;
}

/*-----Header-----*/

#header{
	margin: 10px auto;
	padding: 10px;
}

/*-----Page Heading-----*/

h1{
	margin: 10 auto;
	color: #B5D6DF;
	font: Verdana, New Times Roman;
	text-align: center;
}

/*-----Navigation-----*/

#nav_bar{
	width:1080px;
	height: 50px;
	background-color: #B5D6DF;
	text-align: center;
	box-shadow: black;
}

#nav_bar ul{
	list-style-type: none;
	margin: 10px auto;
}

#nav_bar li{
	display: inline-block;
	margin-right: 10px;
	width: 150px;
	padding:17px;
	border: 1px blue;
	border-radius: 5px;
	background-color: black;
}

/*-----Text-----*/

#nav_bar a{
	font: Verdana;
	color: #B5D6DF;
	text-decoration: none;
}

#nav_bar li:hover{
	background-color: #066178;
	box-shadow: 0 0 10px black;
}
	
/*-----Content-----*/

h2{
	font-family: New Times Roman;
	margin: 50px 0 0 10px;
	padding: 10px;
	color: Black;
}

blockquote{
	color: #1295B5;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	width: 1000px;
	padding:17px;
	box-shadow: #1295B5;
	border-radius: 7px;
	background-color: black;
}

p{
	font: Verdana, Garamound, serif;
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	color:#B5D6DF;
}

/*-----Gallery-----*/

figure{
	float: center;
	margin: 20px;
	width: 200px;
	text-align: center;
}
 
figure img{
	margin-left: 32%;
	border: 5px solid #1295B5;
	border-radius: 5px;
}

.uppercase{
	text-transform: uppercase;
}

figure a img: hover{
	 border: black;
	 opacity: 70%;
}

figcaption{
	margin-left: 20%
	padding: 3px;
	color: #1295B5;
}

/*-----Footer-----*/

#footer{
	margin: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 80%;
}

#footer a{
	color: #066178;
}

/* pseudo class */

#footer a:hover{ 
	color: white;
}






