body {
	background-image: url("../Images/BG.gif");
	background-repeat: repeat;
}

#container{
	width: 1080px;
	height: 3500px;
	margin: 0 auto;
	background-color: #63696B;
	border-radius: 25px;
	box-shadow: 0 0 20px black;
	background-image: url("../Images/Banner.gif");
	background-repeat: repeat; 
}

/*-----Header-----*/

#header{
	margin: 10px auto;
	padding: 10px;
}

/*-----Page Heading-----*/

h1{
	color: #1295B5;
	float: none;
	text-align: center;
	font-family: 'Orbitron', sans-serif, bold;
}

#column1{
	width: 780px;
	Float: left;
	margin: 10px;
}

#sidebar{
	width: 200px;
	Float: left;
	margin: 10px;
}
	
/*-----Navigation-----*/

#nav_bar{
	width:1080px;
	height: 50px;
	background-color: #B5D6DF;
	text-align: center;
	box-shadow: 5px 5px 5px #696969;
	background: #b5d6df; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5d6df 0%, #1295b5 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5d6df), color-stop(101%,#1295b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5d6df 0%,#1295b5 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5d6df 0%,#1295b5 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5d6df 0%,#1295b5 101%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5d6df 0%,#1295b5 101%); /* W3C */
}

#nav_bar ul{
	list-style-type: none;
	margin: 10px auto;
}

#nav_bar li{
	display: inline-block;
	margin-right: 10px;
	width: 150px;
	padding:17px;
	border: 1px blue;
	border-radius: 5px;
	background-color: black;
}

/*-----Text-----*/

#nav_bar a{
	font-family: 'Orbitron', sans-serif, bold;
	color: #B5D6DF;
	text-decoration: none;
}

#nav_bar li:hover{
	background-color: #066178;
	box-shadow: 5px 5px 5px black;
}
	
/*-----Content with Icons-----*/

h2{
	color: #1295B5;
	margin: 50px 0 0 10px;
	padding: 10px;
	font-family: 'Orbitron', sans-serif, bold;
}

#icon1{
background-image: url("..Images/Nintendo.png");
background-repeat: no-repeat;
width: 64px;
height: 64px;
}

#paragraph{
	clear:left;
}

#sidebar{
	color: #1295B5;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 30px;
	width: 200px;
	padding:10px;
	box-shadow: 5px 5px 5px #696969;
	border-radius: 7px;
	background-color: black;
	font-family: 'Orbitron', sans-serif, italic;
	float: left;
	margin: 10px;
}

#list {
	color: #1295B5;
	font-family: 'Orbitron', sans-serif, bold;
	clear: both;
}

p{
	margin: 15px;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

/*-----Gallery-----*/

figure{
	float: none;
	width: 200px;
	text-align: center;
}

figure a:hover{
	color:blue;
}

figure img{
	margin-left: 32%;
	border: 5px solid black;
	border-radius: 5px;
}

.uppercase{
	text-transform: uppercase;
}

figcaption{
	float: left;
	margin: 2px 0 5px 70px;
	color: #1295B5;
	font-family: 'Orbitron', sans-serif, bold;
}

/*-----Table-----*/

table{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Orbitron', sans-serif;
	color: #ffffff;
	display: block;
	margin: 50px;
	margin-left: 170px;
}	

th, td {padding: 7px 10px 10px 10px;}

tr.even { background-color: #efefef;}

tr:hover { background-color: #1295B5;}

.money { text-align: right;}

th {text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 90%;
border-bottom: 3px solid #1295B5;
border-top: 3px solid #1295B5;
text-align: left;
}

form{
  display: block;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
  color: #1295B5;
}

#console{
	margin: 15px;
}

/*-----Footer-----*/

#footer{
	margin: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 80%;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

#footer a{
	color: #066178;
}

/* pseudo class */

#footer a:hover{ 
	color: white;
}






