body {
	background-image: url("../Images/BG.gif");
	background-repeat: repeat;
}

#container{
	width: 1080px;
	height: 100%;
	margin: 0 auto;
	background-color: #63696B;
	border-radius: 25px;
	box-shadow: 0 0 20px black;
	background-image: url("../Images/Banner.gif");
	background-repeat: repeat;
}

/*-----Header-----*/

#header{
	margin: 10px auto;
	padding: 10px;
}

/*-----Page Heading-----*/

h1{
	margin: 10 auto;
	color: white;
	float: center;
	text-align: center;
	font-family: 'Orbitron', sans-serif, bold;
}

/*-----Navigation-----*/

#nav_bar{
	width:1080px;
	height: 50px;
	background-color: #B5D6DF;
	text-align: center;
	box-shadow: black;
	background: #b5d6df; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5d6df 0%, #1295b5 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5d6df), color-stop(101%,#1295b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5d6df 0%,#1295b5 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5d6df 0%,#1295b5 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5d6df 0%,#1295b5 101%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5d6df 0%,#1295b5 101%); /* W3C */
}

#nav_bar ul{
	list-style-type: none;
	margin: 10px auto;
}

#nav_bar li{
	display: inline-block;
	margin-right: 10px;
	width: 150px;
	padding:17px;
	border: 1px blue;
	border-radius: 5px;
	background-color: black;
}

/*-----Text-----*/

#nav_bar a{
	font-family: 'Orbitron', sans-serif, bold;
	color: #B5D6DF;
	text-decoration: none;
}

#nav_bar li:hover{
	background-color: #066178;
	box-shadow: 0 0 10px black;
}
	
/*-----Content-----*/

h2{
	margin: 50px 0 0 10px;
	padding: 10px;
	font-family: 'Orbitron', sans-serif, bold;
}

blockquote{
	color: #1295B5;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	width: 1000px;
	padding:15px;
	box-shadow: #1295B5;
	border-radius: 7px;
	background-color: black;
	font-family: 'Orbitron', sans-serif, italic;
	width: 31.3%;
	float: right;
	margin: 2%;
}

#sidebar {
float:right;
width:250px;
margin: 10px;
}

#list {
	color: #1295B5;
	font-family: 'Orbitron', sans-serif, bold;
}

p{
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	color: white;
	font-family: 'Orbitron', serif;
}

/*-----Gallery-----*/

figure{
	float: center;
	margin: 20px;
	width: 200px;
	text-align: center;
}

figure a: active{
	 border: #1295B5;
}
 
figure img{
	margin-left: 32%;
	border: 5px solid black;
	border-radius: 5px;
}

.uppercase{
	text-transform: uppercase;
}

figure img a: active{
	 border: #1295B5;
}

figcaption{
	float: left;
	margin: 2px 0 5px 70px;
	color: #1295B5;
	font-family: 'Orbitron', sans-serif, bold;
}

/*-----Footer-----*/

#footer{
	margin: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 80%;
	color: white;
}

#footer a{
	color: #066178;
}

/* pseudo class */

#footer a:hover{ 
	color: white;
}






